In [3]:
import pandas as pd

# Define the file paths
file1_path = r'C:\Users\Mike Stein\Downloads\sales.xlsx'
file2_path = r'C:\Users\Mike Stein\Downloads\metaClean43Brightspace.xlsx'

# Read the Excel files into DataFrames
df1 = pd.read_excel(file1_path)
df2 = pd.read_excel(file2_path)

# Define the file paths for CSV files
csv_file1_path = r'C:\Users\Mike Stein\Downloads\sales_cleaned.csv'
csv_file2_path = r'C:\Users\Mike Stein\Downloads\metaClean43Brightspace_cleaned.csv'

# Convert the DataFrames to CSV files
df1.to_csv(csv_file1_path, index=False)
df2.to_csv(csv_file2_path, index=False)

#show dataframe 1
df1

,title,movie_cast
0,!Women Art Revolution,NaN
1,10 Cloverfield Lane,"John Gallagher Jr.,John Goodman,Mary Elizabeth..."
2,10 Items or Less,"Jonah Hill,Morgan Freeman,Paz Vega"
3,10 Years,"Channing Tatum,Chris Pratt,Jenna Dewan"
4,100 Bloody Acres,NaN
...,...,...
11356,NaN,NaN
11357,NaN,Kevin James
11358,NaN,"Ben Stiller,Owen Wilson"
11359,NaN,"Ben Stiller,Kristen Wiig,Owen Wilson,PenÃ©lope..."
11360,NaN,"Chevy Chase,Courteney Cox,Tim Allen"

In [4]:
#show dataframe 2
df2

,title,movie_cast
0,!Women Art Revolution,NaN
1,10 Cloverfield Lane,"John Gallagher Jr.,John Goodman,Mary Elizabeth..."
2,10 Items or Less,"Jonah Hill,Morgan Freeman,Paz Vega"
3,10 Years,"Channing Tatum,Chris Pratt,Jenna Dewan"
4,100 Bloody Acres,NaN
...,...,...
11356,NaN,NaN
11357,NaN,Kevin James
11358,NaN,"Ben Stiller,Owen Wilson"
11359,NaN,"Ben Stiller,Kristen Wiig,Owen Wilson,PenÃ©lope..."
11360,NaN,"Chevy Chase,Courteney Cox,Tim Allen"

In [5]:
# Drop rows with NaN values from both DataFrames
df1 = df1.dropna()
df2 = df2.dropna()

# Drop duplicates in both DataFrames
df1 = df1.drop_duplicates()
df2 = df2.drop_duplicates()

# Perform an inner join on the "title" column
merged_df = pd.merge(df1, df2, on='title', how='inner')

merged_df

,title,worldwide_box_office,movie_cast
0,Antitrust,17865209.0,"Abby Ryder Fortson,Bobby Cannavale,David Dastm..."
1,Santitos,378562.0,"Bill Murray,Leem Lubany,Zooey Deschanel"
2,A Walk to Remember,46060861.0,"Emma Thompson,Kristen Schaal,Mary Steenburgen,..."
3,The Killing of John Lennon,6975.0,"Christina Ricci,Craig Ferguson,Jessica Capshaw..."
4,Over Her Dead Body,21596074.0,"Brian Stuy,Jiaoming Pang,Longlan Stuy,Peng Wang"
...,...,...,...
3510,Hunted,7400000.0,"Dakota Fanning,David Morse,Piper Laurie"
3511,The Night,39211.0,"Alexandre BÃ©langer,Alicia Silverstone,Danny K..."
3512,Breaking News in Yuba County,39349.0,"Adele Haenel,AloÃ¯se Sauvage,Antoine Reinartz,..."
3513,Our Friend,1838205.0,"Alexandra BorbÃ©ly,Ervin Nagy,Ãva Bata,GÃ©za ..."
3514,The Dry,17601631.0,"Aleksei Guskov,Dmitri Nazarov,MÃ©lanie Laurent"