In [3]:
#install required libraries
import psycopg2
import csv

In [4]:
#Database in PostgreSQL connection information
dbname = "DBM"
user = "postgres"
password = "xw5dzk6d"
host = "localhost"
port = "5433"

In [5]:
#defining the file path for the csv file
csv_file = r"\\Mac\Home\Documents\MDDB\Database Management\sales.csv"

In [6]:
#table name in PostgreSQL where the data will be imported
table_name = "movies"

In [7]:
#connecting to the PostgreSQL database & creating a cursos
conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)
cursor = conn.cursor()

In [8]:
#opening the CSV file and iterating over rows
with open(csv_file, 'r', newline='', encoding='utf-8') as file:
    reader = csv.reader(file)
 
    for row in reader:
        movie_id = row[0]
        release_date = row[2]
        movie_title = row[1]
        worldwide_boxoffice = row[4]
        production_budget = row[3]

In [9]:
#inserting the data into the table in PostgreSQL
cursor.execute
(f"INSERT INTO {table_name} (movie_id, release_date, movie_title, worldwide_boxoffice, production_budget) VALUES (%s, %s, %s, %s, %s)",
(movie_id, movie_title, release_date, worldwide_boxoffice, production_budget))

('INSERT INTO movies (movie_id, release_date, movie_title, worldwide_boxoffice, production_budget) VALUES (%s, %s, %s, %s, %s)',
 ('30612',
  'January',
  'Posledniy bogatyr Koren Zla',
  '33396899.0',
  'Adventure'))

In [10]:
#committing the transaction
conn.commit()

#closing the connection
if conn:
        cursor.close()
        conn.close()