In [2]:
#install required libraries
import pandas as pd
import psycopg2

#defining the function to connect to the database in PostgreSQL
conn = psycopg2.connect(
        dbname = "DBmovies",
        user = "postgres",
        password = "alex2000",
        host = "localhost",
        port = "5433")

#creating a cursor making sure there is interaction with the database
cursor = conn.cursor()

#Query for the join between rating of the movie and the average box office sales of the movies
sql_query = """
    SELECT ratings.rating_name, AVG(movies.worldwide_box_office) AS average_worldwide_box_office
    FROM ratings
    JOIN movierating on movierating.rating_id = ratings.rating_id
    JOIN movies on movies.movie_id = movierating.movie_id
    GROUP BY ratings.rating_name
    ORDER BY average_worldwide_box_office DESC;"""


#excuting the query
cursor.execute(sql_query)

#fetching all the rows
rows = cursor.fetchall()

#creating the dataframe with column names
df = pd.DataFrame(rows, columns=["Rating Name", "Average Worldwide Box Office"])

#making the dataframa visual
print(df)

#closing the connection & cursor
cursor.close()
conn.close()

   Rating Name  Average Worldwide Box Office
0         TV-G                  3.909169e+08
1            G                  1.414622e+08
2           PG                  1.328172e+08
3        PG-13                  9.190977e+07
4        TV-PG                  4.220463e+07
5        TV-14                  3.226884e+07
6            R                  3.082020e+07
7      Unrated                  2.783629e+07
8        NC-17                  2.754727e+07
9        TV-MA                  6.295526e+06
10      PG--13                  3.743188e+06
11        Open                  3.275846e+06
12   Not Rated                  2.320054e+06
13          NR                  1.821420e+06
14       MA-17                  1.155873e+06
15    Approved                  1.119040e+05
16        M/PG                  0.000000e+00