In [1]:
#install required libraries
import psycopg2
from sqlalchemy import create_engine

In [2]:
#defining the PostgreSQL database connection parameters
db_config = {
    'dbname': 'DBM',
    'user': 'postgres',
    'password': 'xw5dzk6d',
    'host': 'localhost',
    'port': '5433'}

In [3]:
#establishing a connection using psycopg2
conn = psycopg2.connect(**db_config)

In [4]:
#creating an SQLAlchemy engine using the connection
engine = create_engine(f"postgresql+psycopg2://{db_config['user']}:{db_config['password']}@{db_config['host']}:{db_config['port']}/{db_config['dbname']}")

In [5]:
#formulating the SQL query, here the profit of the top 10 movies is visualised
sql_query = """SELECT movie_id, production_budget, worldwide_box_office,
            (worldwide_box_office - production_budget) AS profit,
            CASE
            WHEN worldwide_box_office > 0 THEN (production_budget / worldwide_box_office) * 100
            ELSE 0 -- Handle division by zero by setting the percentage to 0 when worldwide_box_office is 0
            END AS percentage_production_cost
            FROM movies;"""

In [ ]:
#excecuting the SQL query and fetcing the results
result = pd.read_sql(sql_query, conn)

In [ ]:
#printing the results 
print(result)

In [6]:
#closing the database connection
conn.close()